--
-- PostgreSQL database dump
--

\restrict iwMjzanBfsUdIrfklQ7tb49LVgzwtGq4pnKAsygwmLSNMd3buNhDoSPoyQZoQnn

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _PlantCoOwners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_PlantCoOwners" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_PlantCoOwners" OWNER TO postgres;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id text NOT NULL,
    user_id text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    provider_account_id text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: admin_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_logs (
    id text NOT NULL,
    admin_id text NOT NULL,
    action text NOT NULL,
    target_type text,
    target_id text,
    details text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.admin_logs OWNER TO postgres;

--
-- Name: card_fields; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.card_fields (
    id text NOT NULL,
    card_id text NOT NULL,
    group_id text,
    field_type text NOT NULL,
    label text,
    value text NOT NULL,
    privacy_level integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.card_fields OWNER TO postgres;

--
-- Name: card_link_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.card_link_groups (
    id text NOT NULL,
    card_id text NOT NULL,
    name text NOT NULL,
    icon text,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.card_link_groups OWNER TO postgres;

--
-- Name: cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cards (
    id text NOT NULL,
    user_id text NOT NULL,
    tag_id text,
    slug text,
    card_type text DEFAULT 'personal'::text NOT NULL,
    first_name text,
    last_name text,
    title text,
    bio text,
    logo_url text,
    avatar_url text,
    theme text DEFAULT '{"color": "#2ecc71", "style": "modern"}'::text NOT NULL,
    is_public boolean DEFAULT true NOT NULL,
    level1_password text,
    level2_password text,
    view_count integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.cards OWNER TO postgres;

--
-- Name: connection_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connection_categories (
    id text NOT NULL,
    user_id text NOT NULL,
    name text NOT NULL,
    color text DEFAULT '#3498db'::text NOT NULL,
    icon text DEFAULT '­şôü'::text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.connection_categories OWNER TO postgres;

--
-- Name: connections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connections (
    id text NOT NULL,
    user_id text NOT NULL,
    friend_id text NOT NULL,
    card_id text NOT NULL,
    category_id text,
    my_note text,
    my_tags text,
    visibility text DEFAULT 'private'::text NOT NULL,
    status text DEFAULT 'saved'::text NOT NULL,
    saved_password text,
    meeting_note text,
    meeting_location text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.connections OWNER TO postgres;

--
-- Name: follows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.follows (
    id text NOT NULL,
    user_id text NOT NULL,
    tag_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.follows OWNER TO postgres;

--
-- Name: gifts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gifts (
    id text NOT NULL,
    sender_id text,
    sender_name text,
    receiver_id text,
    tag_id text,
    title text,
    message text,
    gift_type text DEFAULT 'generic'::text NOT NULL,
    media_url text,
    spotify_url text,
    password text,
    claim_format text,
    claimed_as_id text,
    is_claimed boolean DEFAULT false NOT NULL,
    claimed_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    slug text,
    password_hint text
);


ALTER TABLE public.gifts OWNER TO postgres;

--
-- Name: mug_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mug_logs (
    id text NOT NULL,
    mug_id text NOT NULL,
    log_type text NOT NULL,
    amount_ml integer,
    note text,
    shared_with_friends boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.mug_logs OWNER TO postgres;

--
-- Name: mugs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mugs (
    id text NOT NULL,
    tag_id text,
    owner_id text NOT NULL,
    name text DEFAULT 'Kupam'::text NOT NULL,
    theme text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    slug text,
    is_visible_in_profile boolean DEFAULT true NOT NULL
);


ALTER TABLE public.mugs OWNER TO postgres;

--
-- Name: nfc_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nfc_tags (
    id text NOT NULL,
    tag_id text NOT NULL,
    public_code text NOT NULL,
    owner_id text,
    module_type text,
    status text DEFAULT 'unclaimed'::text NOT NULL,
    allow_follow boolean DEFAULT false NOT NULL,
    is_public boolean DEFAULT true NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    claimed_at timestamp(3) without time zone
);


ALTER TABLE public.nfc_tags OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    user_id text NOT NULL,
    sender_id text,
    type text NOT NULL,
    title text,
    body text,
    data text,
    read_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: ownership_transfers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ownership_transfers (
    id text NOT NULL,
    tag_id text NOT NULL,
    from_user_id text,
    to_user_id text NOT NULL,
    transfer_type text NOT NULL,
    message text,
    transferred_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ownership_transfers OWNER TO postgres;

--
-- Name: page_blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.page_blocks (
    id text NOT NULL,
    page_id text NOT NULL,
    block_type text NOT NULL,
    content text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    animation text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.page_blocks OWNER TO postgres;

--
-- Name: pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pages (
    id text NOT NULL,
    tag_id text,
    owner_id text NOT NULL,
    module_type text NOT NULL,
    title text,
    is_surprise boolean DEFAULT false NOT NULL,
    surprise_revealed boolean DEFAULT false NOT NULL,
    is_locked boolean DEFAULT false NOT NULL,
    unlock_code text,
    theme text,
    settings text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    slug text
);


ALTER TABLE public.pages OWNER TO postgres;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: plant_ai_chats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plant_ai_chats (
    id text NOT NULL,
    plant_id text NOT NULL,
    user_id text,
    role text NOT NULL,
    content text NOT NULL,
    image_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.plant_ai_chats OWNER TO postgres;

--
-- Name: plant_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plant_logs (
    id text NOT NULL,
    plant_id text NOT NULL,
    log_type text NOT NULL,
    amount_ml integer,
    content text,
    image_url text,
    ai_analysis text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.plant_logs OWNER TO postgres;

--
-- Name: plants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plants (
    id text NOT NULL,
    tag_id text,
    owner_id text NOT NULL,
    name text NOT NULL,
    species text,
    birth_date timestamp(3) without time zone,
    cover_image_url text,
    theme text DEFAULT '{"style": "nature"}'::text NOT NULL,
    is_gift boolean DEFAULT false NOT NULL,
    gifted_by text,
    gift_message text,
    privacy_level text DEFAULT 'public'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    slug text,
    is_visible_in_profile boolean DEFAULT true NOT NULL
);


ALTER TABLE public.plants OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    session_token text NOT NULL,
    user_id text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: transfer_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transfer_requests (
    id text NOT NULL,
    tag_id text NOT NULL,
    from_user_id text NOT NULL,
    to_user_id text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    message text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.transfer_requests OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text,
    phone text,
    password_hash text,
    name text,
    username text,
    avatar_url text,
    bio text,
    role text DEFAULT 'user'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    email_verified timestamp(3) without time zone,
    gemini_api_key text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_tokens (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.verification_tokens OWNER TO postgres;

--
-- Data for Name: _PlantCoOwners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_PlantCoOwners" ("A", "B") FROM stdin;
cmk7qs5q40007m96gzz5o8q7g	cmk7lzozu0000m9yczbnn48a5
\.


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admin_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: card_fields; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: card_link_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.card_link_groups (id, card_id, name, icon, display_order, created_at) FROM stdin;
cmk641p7o0003m9q8al1wdikq	cmk6412na0001m9q8lob7n8hh	Yeni Grup	\N	0	2026-01-09 00:00:51.685
cmk8yzn1r0001m9y8xibs336z	cmk7mxvaz0005m9xwmiimln6n	Yeni Grup	\N	0	2026-01-11 00:02:36.016
\.


--
-- Data for Name: cards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: connection_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.connection_categories (id, user_id, name, color, icon, created_at) FROM stdin;
\.


--
-- Data for Name: connections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.connections (id, user_id, friend_id, card_id, category_id, my_note, my_tags, visibility, status, saved_password, meeting_note, meeting_location, created_at) FROM stdin;
\.


--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.follows (id, user_id, tag_id, created_at) FROM stdin;
\.


--
-- Data for Name: gifts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mug_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mugs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mugs (id, tag_id, owner_id, name, theme, created_at, slug, is_visible_in_profile) FROM stdin;
cmk63on560011m938sni799hi	\N	cmk63on470000m938ed9o0sqr	U─şurlu Kupa	dark	2026-01-08 23:50:42.474	\N	t
cmk7qu6ki000pm96g4jphhswh	\N	cmk7n18oo0006m9xw6ucph65t	asdfasdf	{"style":"warm"}	2026-01-10 03:26:38.274	\N	t
cmk8ufw1q0013m9ogggzw3xb1	\N	cmk7lzozu0000m9yczbnn48a5	Beytullah	{"style":"warm"}	2026-01-10 21:55:16.094	beytullah-cicek-1768082116092	t
cmk8sae3r0001m9ogqixwz7t5	\N	cmk7lzozu0000m9yczbnn48a5	beyytullah	{"style":"warm"}	2026-01-10 20:55:00.323	beytullah-cicek	t
\.


--
-- Data for Name: nfc_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ownership_transfers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ownership_transfers (id, tag_id, from_user_id, to_user_id, transfer_type, message, transferred_at) FROM stdin;
\.


--
-- Data for Name: page_blocks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, user_id, token, expires_at, used, created_at) FROM stdin;
cmk7m3kpa0004m9yc7wbn5xgn	cmk7lzozu0000m9yczbnn48a5	81b7cd14-8c60-400c-94d0-2e8a982c47fb	2026-01-10 01:43:58.412	f	2026-01-10 01:13:58.414
cmk7miw2d0001m9xwh1r5754l	cmk7lzozu0000m9yczbnn48a5	f76c4c41-3d3d-4faa-aa2f-c77768fb1e1e	2026-01-10 01:55:52.98	f	2026-01-10 01:25:52.981
cmk7mneme0003m9xwin5qjraw	cmk7lzozu0000m9yczbnn48a5	bf17f1af-c99a-4e8b-84ae-7b4d6fe101f1	2026-01-10 01:59:23.653	t	2026-01-10 01:29:23.655
\.


--
-- Data for Name: plant_ai_chats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.plant_ai_chats (id, plant_id, user_id, role, content, image_url, created_at) FROM stdin;
\.


--
-- Data for Name: plant_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: plants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, session_token, user_id, expires) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (id, key, value, "updatedAt") FROM stdin;
\.


--
-- Data for Name: transfer_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfer_requests (id, tag_id, from_user_id, to_user_id, status, message, created_at, updated_at) FROM stdin;
cmk7q5cye0001m9ggn4jmax9m	cmk635nf00003m9f4fjusyazg	cmk7lzozu0000m9yczbnn48a5	cmk7n18oo0006m9xw6ucph65t	pending	\N	2026-01-10 03:07:20.15	2026-01-10 03:07:20.15
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_tokens (identifier, token, expires) FROM stdin;
\.


--
-- Name: _PlantCoOwners _PlantCoOwners_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_PlantCoOwners"
    ADD CONSTRAINT "_PlantCoOwners_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: admin_logs admin_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_logs
    ADD CONSTRAINT admin_logs_pkey PRIMARY KEY (id);


--
-- Name: card_fields card_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_fields
    ADD CONSTRAINT card_fields_pkey PRIMARY KEY (id);


--
-- Name: card_link_groups card_link_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_link_groups
    ADD CONSTRAINT card_link_groups_pkey PRIMARY KEY (id);


--
-- Name: cards cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_pkey PRIMARY KEY (id);


--
-- Name: connection_categories connection_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connection_categories
    ADD CONSTRAINT connection_categories_pkey PRIMARY KEY (id);


--
-- Name: connections connections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections
    ADD CONSTRAINT connections_pkey PRIMARY KEY (id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: gifts gifts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gifts
    ADD CONSTRAINT gifts_pkey PRIMARY KEY (id);


--
-- Name: mug_logs mug_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mug_logs
    ADD CONSTRAINT mug_logs_pkey PRIMARY KEY (id);


--
-- Name: mugs mugs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mugs
    ADD CONSTRAINT mugs_pkey PRIMARY KEY (id);


--
-- Name: nfc_tags nfc_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nfc_tags
    ADD CONSTRAINT nfc_tags_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: ownership_transfers ownership_transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ownership_transfers
    ADD CONSTRAINT ownership_transfers_pkey PRIMARY KEY (id);


--
-- Name: page_blocks page_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_blocks
    ADD CONSTRAINT page_blocks_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: plant_ai_chats plant_ai_chats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plant_ai_chats
    ADD CONSTRAINT plant_ai_chats_pkey PRIMARY KEY (id);


--
-- Name: plant_logs plant_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plant_logs
    ADD CONSTRAINT plant_logs_pkey PRIMARY KEY (id);


--
-- Name: plants plants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plants
    ADD CONSTRAINT plants_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: transfer_requests transfer_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: _PlantCoOwners_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_PlantCoOwners_B_index" ON public."_PlantCoOwners" USING btree ("B");


--
-- Name: accounts_provider_provider_account_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX accounts_provider_provider_account_id_key ON public.accounts USING btree (provider, provider_account_id);


--
-- Name: admin_logs_admin_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_logs_admin_id_idx ON public.admin_logs USING btree (admin_id);


--
-- Name: admin_logs_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_logs_created_at_idx ON public.admin_logs USING btree (created_at);


--
-- Name: cards_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_created_at_idx ON public.cards USING btree (created_at);


--
-- Name: cards_is_public_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_is_public_idx ON public.cards USING btree (is_public);


--
-- Name: cards_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_slug_idx ON public.cards USING btree (slug);


--
-- Name: cards_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX cards_slug_key ON public.cards USING btree (slug);


--
-- Name: cards_tag_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_tag_id_idx ON public.cards USING btree (tag_id);


--
-- Name: cards_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX cards_tag_id_key ON public.cards USING btree (tag_id);


--
-- Name: cards_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_user_id_idx ON public.cards USING btree (user_id);


--
-- Name: cards_view_count_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_view_count_idx ON public.cards USING btree (view_count);


--
-- Name: connections_card_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX connections_card_id_idx ON public.connections USING btree (card_id);


--
-- Name: connections_category_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX connections_category_id_idx ON public.connections USING btree (category_id);


--
-- Name: connections_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX connections_created_at_idx ON public.connections USING btree (created_at);


--
-- Name: connections_friend_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX connections_friend_id_idx ON public.connections USING btree (friend_id);


--
-- Name: connections_user_id_card_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX connections_user_id_card_id_key ON public.connections USING btree (user_id, card_id);


--
-- Name: connections_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX connections_user_id_idx ON public.connections USING btree (user_id);


--
-- Name: follows_user_id_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX follows_user_id_tag_id_key ON public.follows USING btree (user_id, tag_id);


--
-- Name: gifts_receiver_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gifts_receiver_id_idx ON public.gifts USING btree (receiver_id);


--
-- Name: gifts_sender_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gifts_sender_id_idx ON public.gifts USING btree (sender_id);


--
-- Name: gifts_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX gifts_slug_key ON public.gifts USING btree (slug);


--
-- Name: gifts_tag_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gifts_tag_id_idx ON public.gifts USING btree (tag_id);


--
-- Name: gifts_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX gifts_tag_id_key ON public.gifts USING btree (tag_id);


--
-- Name: mug_logs_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mug_logs_created_at_idx ON public.mug_logs USING btree (created_at);


--
-- Name: mug_logs_mug_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mug_logs_mug_id_idx ON public.mug_logs USING btree (mug_id);


--
-- Name: mugs_owner_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mugs_owner_id_idx ON public.mugs USING btree (owner_id);


--
-- Name: mugs_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mugs_slug_idx ON public.mugs USING btree (slug);


--
-- Name: mugs_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX mugs_slug_key ON public.mugs USING btree (slug);


--
-- Name: mugs_tag_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mugs_tag_id_idx ON public.mugs USING btree (tag_id);


--
-- Name: mugs_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX mugs_tag_id_key ON public.mugs USING btree (tag_id);


--
-- Name: nfc_tags_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nfc_tags_created_at_idx ON public.nfc_tags USING btree (created_at);


--
-- Name: nfc_tags_module_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nfc_tags_module_type_idx ON public.nfc_tags USING btree (module_type);


--
-- Name: nfc_tags_owner_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nfc_tags_owner_id_idx ON public.nfc_tags USING btree (owner_id);


--
-- Name: nfc_tags_public_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nfc_tags_public_code_idx ON public.nfc_tags USING btree (public_code);


--
-- Name: nfc_tags_public_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX nfc_tags_public_code_key ON public.nfc_tags USING btree (public_code);


--
-- Name: nfc_tags_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nfc_tags_status_idx ON public.nfc_tags USING btree (status);


--
-- Name: nfc_tags_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX nfc_tags_tag_id_key ON public.nfc_tags USING btree (tag_id);


--
-- Name: notifications_read_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_read_at_idx ON public.notifications USING btree (read_at);


--
-- Name: notifications_sender_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_sender_id_idx ON public.notifications USING btree (sender_id);


--
-- Name: notifications_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_user_id_idx ON public.notifications USING btree (user_id);


--
-- Name: pages_owner_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pages_owner_id_idx ON public.pages USING btree (owner_id);


--
-- Name: pages_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pages_slug_idx ON public.pages USING btree (slug);


--
-- Name: pages_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX pages_slug_key ON public.pages USING btree (slug);


--
-- Name: pages_tag_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pages_tag_id_idx ON public.pages USING btree (tag_id);


--
-- Name: pages_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX pages_tag_id_key ON public.pages USING btree (tag_id);


--
-- Name: password_reset_tokens_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_reset_tokens_expires_at_idx ON public.password_reset_tokens USING btree (expires_at);


--
-- Name: password_reset_tokens_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_reset_tokens_token_idx ON public.password_reset_tokens USING btree (token);


--
-- Name: password_reset_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX password_reset_tokens_token_key ON public.password_reset_tokens USING btree (token);


--
-- Name: password_reset_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_reset_tokens_user_id_idx ON public.password_reset_tokens USING btree (user_id);


--
-- Name: plant_logs_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plant_logs_created_at_idx ON public.plant_logs USING btree (created_at);


--
-- Name: plant_logs_plant_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plant_logs_plant_id_idx ON public.plant_logs USING btree (plant_id);


--
-- Name: plants_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plants_created_at_idx ON public.plants USING btree (created_at);


--
-- Name: plants_owner_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plants_owner_id_idx ON public.plants USING btree (owner_id);


--
-- Name: plants_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plants_slug_idx ON public.plants USING btree (slug);


--
-- Name: plants_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX plants_slug_key ON public.plants USING btree (slug);


--
-- Name: plants_tag_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plants_tag_id_idx ON public.plants USING btree (tag_id);


--
-- Name: plants_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX plants_tag_id_key ON public.plants USING btree (tag_id);


--
-- Name: sessions_session_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX sessions_session_token_key ON public.sessions USING btree (session_token);


--
-- Name: system_settings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX system_settings_key_key ON public.system_settings USING btree (key);


--
-- Name: users_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_created_at_idx ON public.users USING btree (created_at);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: users_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_username_idx ON public.users USING btree (username);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: verification_tokens_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX verification_tokens_identifier_token_key ON public.verification_tokens USING btree (identifier, token);


--
-- Name: verification_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX verification_tokens_token_key ON public.verification_tokens USING btree (token);


--
-- Name: _PlantCoOwners _PlantCoOwners_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_PlantCoOwners"
    ADD CONSTRAINT "_PlantCoOwners_A_fkey" FOREIGN KEY ("A") REFERENCES public.plants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _PlantCoOwners _PlantCoOwners_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_PlantCoOwners"
    ADD CONSTRAINT "_PlantCoOwners_B_fkey" FOREIGN KEY ("B") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: admin_logs admin_logs_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_logs
    ADD CONSTRAINT admin_logs_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: card_fields card_fields_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_fields
    ADD CONSTRAINT card_fields_card_id_fkey FOREIGN KEY (card_id) REFERENCES public.cards(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: card_fields card_fields_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_fields
    ADD CONSTRAINT card_fields_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.card_link_groups(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: card_link_groups card_link_groups_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_link_groups
    ADD CONSTRAINT card_link_groups_card_id_fkey FOREIGN KEY (card_id) REFERENCES public.cards(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cards cards_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cards cards_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: connection_categories connection_categories_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connection_categories
    ADD CONSTRAINT connection_categories_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: connections connections_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections
    ADD CONSTRAINT connections_card_id_fkey FOREIGN KEY (card_id) REFERENCES public.cards(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: connections connections_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections
    ADD CONSTRAINT connections_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.connection_categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: connections connections_friend_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections
    ADD CONSTRAINT connections_friend_id_fkey FOREIGN KEY (friend_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: connections connections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections
    ADD CONSTRAINT connections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: follows follows_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: follows follows_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: gifts gifts_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gifts
    ADD CONSTRAINT gifts_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: gifts gifts_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gifts
    ADD CONSTRAINT gifts_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: gifts gifts_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gifts
    ADD CONSTRAINT gifts_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: mug_logs mug_logs_mug_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mug_logs
    ADD CONSTRAINT mug_logs_mug_id_fkey FOREIGN KEY (mug_id) REFERENCES public.mugs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: mugs mugs_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mugs
    ADD CONSTRAINT mugs_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: mugs mugs_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mugs
    ADD CONSTRAINT mugs_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: nfc_tags nfc_tags_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nfc_tags
    ADD CONSTRAINT nfc_tags_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notifications notifications_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ownership_transfers ownership_transfers_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ownership_transfers
    ADD CONSTRAINT ownership_transfers_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ownership_transfers ownership_transfers_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ownership_transfers
    ADD CONSTRAINT ownership_transfers_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ownership_transfers ownership_transfers_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ownership_transfers
    ADD CONSTRAINT ownership_transfers_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: page_blocks page_blocks_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_blocks
    ADD CONSTRAINT page_blocks_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pages pages_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pages pages_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: plant_ai_chats plant_ai_chats_plant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plant_ai_chats
    ADD CONSTRAINT plant_ai_chats_plant_id_fkey FOREIGN KEY (plant_id) REFERENCES public.plants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: plant_ai_chats plant_ai_chats_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plant_ai_chats
    ADD CONSTRAINT plant_ai_chats_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: plant_logs plant_logs_plant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plant_logs
    ADD CONSTRAINT plant_logs_plant_id_fkey FOREIGN KEY (plant_id) REFERENCES public.plants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: plants plants_gifted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plants
    ADD CONSTRAINT plants_gifted_by_fkey FOREIGN KEY (gifted_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: plants plants_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plants
    ADD CONSTRAINT plants_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: plants plants_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plants
    ADD CONSTRAINT plants_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transfer_requests transfer_requests_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transfer_requests transfer_requests_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.nfc_tags(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transfer_requests transfer_requests_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict iwMjzanBfsUdIrfklQ7tb49LVgzwtGq4pnKAsygwmLSNMd3buNhDoSPoyQZoQnn

